@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap");


body {
  font-family: "Kulim Park", sans-serif;
  background-color: rgb(226, 226, 226)
}

.formatoCurso {
    border: black;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    margin-bottom: 300px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: rgba(207, 207, 207, 0.979);
    
}

.nuevoCurso {
    background-color: #c35365;
    box-shadow: 2px 2px 10px black;
    color:white;
    padding:20px;
    margin-top:15px;
    margin-right: 100px;
    margin-left: 100px;
   
}

.boton-curso {
  background-color: #c35365;
}

.boton-curso:hover{
  background-color:#ffbea9;
  color: black;
}



