$color_fuerte:#672a44;
$color_fuerte2:#8c3851;
$color_fuerte3: #c35365;
$color_suave: #ff8386;
$color_suave2: #ffbea9;
$color_neutro: white;
$color_gris_fuerte:#bdbdbd;
$color_gris_claro: #8f8f8f; 
$tipo_letra:'Kulim Park', sans-serif;