@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap");

.barra1 {
  background-color: #ff8386;
  font-family: "Kulim Park", sans-serif;
  position: sticky;
  top: 0;
  height: 106px;
}


.linkAmigos{
  padding: 15px;
  color: #672a44;
  font-family: "Kulim Park", sans-serif;
}

.link{
  color: black;
}

.marca{
  width: 90px;
}