@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap");

.imagen_fondo {
    height: 300px;
    width: 1300px;
    /*margin-left: 50px;*/
  }

  .contenedor_imagen_fondo{
    display:flex;
    flex-flow: row;
    justify-content: flex-start;
    
  
  }

  .contenedor_imagen_perfil {
    display:flex;
    flex-flow: row;
    justify-content: flex-start;
    

  }

  .imagen_usuario {
    width: 250px;
    /*margin-left: 140px;*/
    /*position: relative;
    bottom: 30px;*/
    box-shadow: 2px 2px 10px black;
    height: 250px;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
  }

  .boton_amigo {
    background-color: #672a44;
    border: #672a44;
    position: relative;
    top: 10px;
    left: 480px;
    width: 120px;
    height: 40px;
    box-shadow: 2px 2px 10px black;
    font-family: "Kulim Park", sans-serif;
  }
  
  .boton_amigo:hover {
    background-color: #c35365;
    color: black;
  }

  .navegador {
    /*margin-left: 140px;
    margin-right: 95px;*/
    box-shadow: 2px 2px 10px black;
    background-color:rgb(224, 223, 223);
  }

  .cabecera {
    background-color: #ececec;
    display:flex;
    flex-flow: column;
    justify-content: center;
    width: 1300px;
   
  }

  .texto-navegador {
    color:black

  }

  .texto-navegador:hover{
    color: #672a44;
  }

  .contendeor_cabecera {
    display:flex;
    flex-flow: row;
    justify-content: center;
    

  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  
  
  
  