@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap");


.imagen_fondo {
  height: 300px;
  width: 1300px;
  margin-left: 110px;
}

.imagen_usuario {
  width: 210px;
  margin-left: 140px;
  position: relative;
  bottom: 30px;
  box-shadow: 2px 2px 10px black;
}

.imagenes {
  height: 20px;
}

.cabecera {
  background-color: #8f8f8f;
}

.cuerpo {
  background-color: #bdbdbd;
}

.informacion {
  margin-left: 150px;
  background-color: #bdbdbd;
  box-shadow: 2px 2px 10px black;
  padding: 10px;
  width: 530px;
  margin-top: 20px;
}

.navegador {
  margin-left: 140px;
  margin-right: 140px;
  box-shadow: 2px 2px 10px black;
}

.texto-navegador {
  color: white;
  font-family: "Kulim Park", sans-serif;
}

.mensaje {
  width: 55px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 25px;
}

.boton_amigo {
  background-color: #672a44;
  border: #672a44;
  position: relative;
  top: 150px;
  left: 480px;
  width: 120px;
  height: 40px;
  box-shadow: 2px 2px 10px black;
  font-family: "Kulim Park", sans-serif;
}

.boton_amigo:hover {
  background-color: #c35365;
  color: black;
}

.boton_publicar {
  background-color: #672a44;
  border: #672a44;
  width: 120px;
  height: 40px;
  position: relative;
  right: 65px;
  top: 60px;
  box-shadow: 2px 2px 10px black;
  font-family: "Kulim Park", sans-serif;
}

.boton_publicar:hover {
  background-color: #c35365;
  color: black;
}

.formato_publicar {
  position: relative;
  left: 70px;
  width: 676px;
  margin-top: 25px;
  box-shadow: 2px 2px 10px black;
}

.boton1 {
  background-color: #672a44;
  border: #672a44;
  width: 120px;
  height: 40px;
  box-shadow: 2px 2px 10px black;
  color: white;
  font-family: "Kulim Park", sans-serif;
}

.boton1:hover {
  background-color: #c35365;
  color: black;
}

