@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap");

.imagenes {
  height: 20px;
}

.texto-navegador {
  color: white;
  font-family: "Kulim Park", sans-serif;
}

.mensaje {
  width: 55px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 25px;
}

.boton_publicar {
  background-color: #672a44;
  border: #672a44;
  width: 120px;
  height: 40px;
  position: relative;
  left: 560px;
  box-shadow: 2px 2px 10px black;
  font-family: "Kulim Park", sans-serif;
}

.boton_publicar:hover {
  background-color: #c35365;
  color: black;
}

.formato_publicar {
  position: relative;
  left: 70px;
  width: 676px;
  margin-top: 25px;
  box-shadow: 2px 2px 10px black;
}

.boton1 {
  background-color: #672a44;
  border: #672a44;
  width: 120px;
  height: 40px;
  box-shadow: 2px 2px 10px black;
  color: white;
  font-family: "Kulim Park", sans-serif;
}

.boton1:hover {
  background-color: #c35365;
  color: black;
}

.general {
  margin-left: 670px;
  margin-top: -260px;
  width: 615px;
  
}

