@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap");

.boton1 {
  background-color: #672a44;
  border: #672a44;
  width: 120px;
  height: 40px;
  box-shadow: 2px 2px 10px black;
  color: white;
  font-family: "Kulim Park", sans-serif;
}

.boton1:hover {
  background-color: #c35365;
  color: black;
}

.boton_publicar {
  background-color: #672a44;
  border: #672a44;
  width: 120px;
  height: 40px;
  
  box-shadow: 2px 2px 10px black;
  font-family: "Kulim Park", sans-serif;
}

.boton_publicar:hover {
  background-color: #c35365;
  color: black;
}

.general_publicar {
  /*margin-left: 670px;
  margin-top: -260px;*/
    width: 600px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    
  
}

.tarjeta-publicar2 {
  
  width: 500px;
  height: 180px;
  background-color: #672a44;
  
}

.formato_publicar {
  
  width: 800px;
  box-shadow: 2px 2px 10px black;
}

.letrero{
  font-size:30px;
  display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: #672a44;
    color: bisque;


}

@media (max-width: 991px){
  .formato_publicar {
  
  width: 800px;
}




/*.imagenes {
  height: 20px;
}

.texto-navegador {
  color: white;
  font-family: "Kulim Park", sans-serif;
}

.mensaje {
  width: 55px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 25px;
}





}











.tarjeta-publicar2 {
  background-color: rgb(207, 207, 207);
  width: 470px;
  
  
}*/




}