body {
  display: grid;
  background-color: white;
}

.formulario_registro {
  display: flex;
  flex-flow: row;
  justify-content: center;

}

#formulariox {
  /*margin-left: 300px;
  margin-right: 300px;*/
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: #ffbea9;
  justify-content: center;
  align-items: center;
  padding: 35px;
  box-shadow: 2px 2px 20px black;
  width: 500px;
}

h1 {
  font-family: "Kulim Park", sans-serif;
  text-align: center;
  color: #8c3851;
}

label {
  font-family: "Kulim Park", sans-serif;
  font-size: 20px;
  font-weight: 1000;
}

p {
  font-family: "Kulim Park", sans-serif;
  font-size: 14px;
}

div {
  padding: 20px;
}

input {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-family: "Kulim Park", sans-serif;
  font-size: 18px;
}

.formulario__checkbox {
  width: 5%;
  height: 20px;
  font-family: "Kulim Park", sans-serif;
  font-size: 18px;
  font-weight: 200;
}

.btn-enviar {
  width: 70px;
  height: 70px;
  background-color: #672a44;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  margin-top: 20px;
}

button:hover {
  background-color: #8c3851;
}

button {
  color: #672a44;
  background-color: #672a44;
  font-family: "Oxygen", sans-serif;
  font-size: 13.5px;
}

footer {
  background-color: #672a44;
  color: white;
  font-family: "Kulim Park", sans-serif;
  font-size: 20px;
}

.div_boton {
  background-color: rgb(170, 101, 101);

}


@media only screen and (min-width: 901px) {
  .btn-enviar {
    width: 20%;
  }
}