/*@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap");

body {
  display: grid;
  background-color: white;
}

header {
  padding: 50px;
  background-color: #672a44;
  color: blanchedalmond;
  font-family: "Oxygen", sans-serif;
  font-size: 85px;
  margin: 5px;
  text-align: center;
}

#formulariox {
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  background-color: #ffbea9;
  justify-content: center;
  align-items: center;
  padding: 35px;
  box-shadow: 2px 2px 20px black;
}

h1 {
  font-family: "Kulim Park", sans-serif;
  text-align: center;
  color: #8c3851;
}

label {
  font-family: "Kulim Park", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

p {
  font-family: "Kulim Park", sans-serif;
  font-size: 16px;
}

div {
  padding: 10px;
}

input {
  width: 55%;
  height: 45px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-family: "Kulim Park", sans-serif;
  font-size: 18px;
}

.formulario__checkbox {
  width: 5%;
  height: 20px;
  font-family: "Kulim Park", sans-serif;
  font-size: 18px;
  font-weight: 200;
}

.btn-enviar {
  width: 45%;
  height: 70px;
  background-color: #672a44;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  margin-top: 20px;
}

button:hover {
  background-color: #8c3851;
}

button {
  color: #672a44;
  background-color: #672a44;
  font-family: "Kulim Park", sans-serif;
}

footer {
  background-color: #672a44;
  color: white;
  font-family: "Kulim Park", sans-serif;
  font-size: 20px;
}

@media only screen and (min-width: 901px) {
  .btn-enviar {
    width: 20%;
  }
}*/

